name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build Unit Tests
        run: dotnet build src/UnitTests/UnitTests.csproj --no-restore -o ./build_output/UnitTests

      - name: Build Integration Tests
        run: dotnet build src/IntegrationTests/IntegrationTests.csproj --no-restore -o ./build_output/IntegrationTests

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: ./build_output

  test:
    runs-on: ubuntu-latest
    needs: build
    name: Test

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
          POSTGRES_DB: KrispyKremeTest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./build_output

      - name: Run Unit tests
        run: dotnet test ./build_output/UnitTests/UnitTests.dll --verbosity normal
        
      - name: Run Integration tests
        env:
          ConnectionStrings__Default: Server=localhost;Port=5432;Database=KrispyKremeTest;User Id=testuser;Password=testpass;
        run: dotnet test ./build_output/IntegrationTests/IntegrationTests.dll --verbosity normal
